@page

<div class="text-center border rounded shadow">
    <h6 class="display-6 my-3">Contact</h6>
    <div class="my-3">
        <i class="fa fa-phone"></i>
        <p>0 551 620 83 40</p>
    </div>
    <div class="my-3">
        <i class="fa-solid fa-location-dot"></i>
        <p>Uşak Ünalan Mah. Atatürk Bulvarı No:106/E</p>
    </div>
    <div>
        <i class="fa-solid fa-envelope"></i>
        <p>melilsahmertcakir@hotmail.com</p>
    </div>
</div>