@model IEnumerable<Category>

<div class="my-3">
    <h6 class="lead">
        <i class="fa fa-bars text-secondary"></i>
        Categories
    </h6>
</div>

<ul class="list-group">
    @foreach (var cat in Model)
    {
        <li class="list-group-item">
            <a class="link-body-emphasis link-underline-opacity-0" asp-controller="Product" asp-action="Index" asp-route-categoryId="@cat.Id">@cat.Name</a>
        </li>
    }
</ul>